body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ccd5ae;
    background-image: url('home-illustration.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: rgba(255,255,255,0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.apple-logo {
    width: 20rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #13501e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    margin-top: 15px;
    font-size: 0.9rem;
}

